@font-face {
    font-family: 'Georgia Regular';
    src: url('../fonts/Georgia_regular/Georgia_regular.eot');
    src: url('../fonts/Georgia_regular/Georgia_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Georgia_regular/Georgia_regular.woff2') format('woff2'),
    url('../fonts/Georgia_regular/Georgia_regular.woff') format('woff'),
    url('../fonts/Georgia_regular/Georgia_regular.ttf') format('truetype'),
    url('../fonts/Georgia_regular/Georgia_regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesNewRoman Regular';
    src: url('../fonts/TimesNewRoman_regular/TimesNewRoman_regular.eot');
    src: url('../fonts/TimesNewRoman_regular/TimesNewRoman_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRoman_regular/TimesNewRoman_regular.woff2') format('woff2'),
    url('../fonts/TimesNewRoman_regular/TimesNewRoman_regular.woff') format('woff'),
    url('../fonts/TimesNewRoman_regular/TimesNewRoman_regular.ttf') format('truetype'),
    url('../fonts/TimesNewRoman_regular/TimesNewRoman_regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Italic';
    src: url('../fonts/Arial_italic/Arial_italic.eot');
    src: url('../fonts/Arial_italic/Arial_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial_italic/Arial_italic.woff2') format('woff2'),
    url('../fonts/Arial_italic/Arial_italic.woff') format('woff'),
    url('../fonts/Arial_italic/Arial_italic.ttf') format('truetype'),
    url('../fonts/Arial_italic/Arial_italic.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

