/*SPECIFICATION*/

body {
    font-family: 'Georgia Regular', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1, .h1 {
    font-size: 44px;
    color: #ffffff;
}

h2, .h2 {
    font-size: 35px;
    font-family: 'Georgia Regular', sans-serif;
    color: #545454;
}

h3, .h3 {
    font-size: 32px;
    font-family: 'Georgia Regular', sans-serif;
    color: #f1cdb3;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 17px;
    font-family: 'Georgia Regular', sans-serif;
}

h6, .h6 {
    font-size: 15px;
}

button {
    padding: 20px 45px;
    background-color: #f1cdb3;
    border-radius: 40px;
    border: 0;
}

/*HEADER*/

header {
    padding-top: 20px;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo .logo__second {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

nav {
    padding-top: 25px;
}

.menu__item {
    padding-right: 40px;
}

.menu .menu__item a {
    font-family: Arial, sans-serif;
    color: #cdcdcd;
    text-decoration: none;
}

.menu .menu__item a:hover {
    color: #f1cdb3;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

/*MAIN*/

main {
    width: 100%;
    background: url("../images/background.png") no-repeat center;
    padding-top: 254px;
}

.main__text {
    font-family: Arial, sans-serif;
    color: #c5c5c5;
    padding-top: 45px;
    padding-bottom: 45px;
}

.main__btn {
    color: #292929;
    padding: 20px 45px;
    background-color: #f1cdb3;
    border-radius: 40px;
    border: 0;
}

.main__button {
    margin-bottom: 270px;
}

/*Section about*/

.about {
    background: #fafafa;
}

.pets__house {
    padding-top: 90px;
    padding-bottom: 75px;
}

.pets__house_title {
    padding-top: 120px;
}

.pets__text {
    font-family: Arial, sans-serif;
    padding-top: 35px;
    color: #4c4c4c;
}

/*Section slider*/

.slider {
    background: #f6f6f6;
}

.slider__title {
    padding-top: 80px;
    padding-bottom: 65px;
}

.slider__element {
    height: 425px;
    width: 270px;
    background: #fafafa;
    margin-right: 30px;
    margin-bottom: 65px;
    border-radius: 5px;
}

.slider__element-pets {
    padding-top: 18px;
}

.slider__btn {
    background: #fafafa;
    border: 2px solid #f1cdb3;
    margin-top: 25px;
    padding: 15px 45px;
}

.slider__btn:hover {
    background-color: #f1cdb3;
}

.slider__button {
    width: 280px;
    margin-right: 30px;
    margin-bottom: 70px;
}

.slider__button:hover {
    background-color: #fddcc4;
}

.arrow__btn {
    background: #fafafa;
    border: 2px solid #f1cdb3;
    padding: 10px 15px;
    border-radius: 100px;
}

.arrow__btn:hover {
    background-color: #f1cdb3;
}

/*Section help*/

.help {
    background: #fafafa;
}

.help__title {
    padding-top: 75px;
    padding-bottom: 80px;
}

.help__things img{
    color: #f1cdb3;
}

.help__things h4 {
    font-family: 'Georgia Regular', sans-serif;
    padding-top: 30px;
    padding-bottom: 80px;
}

/*Section donation*/

.donation {
    background: #f6f6f6;
}

.donation__pets img {
    padding-top: 90px;
}

.donation__pets-credit h2 {
     padding-top: 73px;
 }

.donation__pets-credit h6 {
    padding-top: 35px;
    padding-bottom: 15px;
}

.donation__pets-credit .h4  {
    font-family: 'TimesNewRoman Regular', sans-serif;
    background-color: #f1cdb3;
    padding: 10px;
    border-radius: 9px;
    width: 310px;
    margin-bottom: 33px;
}

.donation__pets-credit img {
    padding: 0;
}

.donation__text {
    font-size: 12px;
    color: #b2b2b2;
    font-family: 'Arial Italic', sans-serif;
    padding-bottom: 84px;
}

/*Footer*/

footer {
    width: 100%;
    background: url("../images/footer.png") no-repeat center;
}

.contacts h2 {
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
}

.contacts .h4 {
    font-family: 'TimesNewRoman Regular', sans-serif;
    color: #f1cdb3;
    padding-bottom: 35px;
    line-height: 0.5;
}

.contacts img {
    padding-right: 15px;
}

.contacts .contacts__pin img{
    height: 30px;
}